@charset "utf-8";

.wrapper_learning {
	/* border: 3px solid black; */
}
.container_learning {
	margin: 0 auto;
	width: 1400px;
	/* border: 3px solid blue; */
}
.subject_learning {
	/* border: 3px solid red; */
}
.subject_learning>h2 {
	padding: 7px;
	/* border: 3px solid red; */
}
.article_box_learning {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
}
.canvas_wrap {
	flex: 1 1 0%; 
	position: relative;
	width: 1200px;
	height: 680px;
	overflow: hidden;
	border: 10px solid yellow;
	background: blue;
}
.canvas_box {
	flex: 1 1 0%; 
	position: absolute;
	left: 0px;
    top: 0px;
	/* flex: 1 1 0%; 
    position: relative; */
    /* width: 1200px;
	height: 680px; */
	border: 10px solid red;
	/* overflow: hidden; */
}
.btx_box {
	width: 200px;
	border-left: 1px solid black;
}
.canvas {
	/* position: absolute; */
	/* width: 1200px;
    height: 600px; */
    /* width: 100%;
    height: 100%; */
   /*  left: 0px;
    top: 0px; */
	background: #eee;
}
.color-btn {
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
}
.color-btn[data-color='black'] {background: black}
.color-btn[data-color='red'] {background: red}
.color-btn[data-color='green'] {background: green}
.color-btn[data-color='blue'] {background: blue}